.abs {
    position: absolute;
    display: none;
}

.miniature-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    // width: 50%;
    height: 50%;
    margin: auto;
    transition: all 1s ease-in-out;
        
        .img-primary {
            min-width: 100%;
        }

        .btn {
            transition: all 0.5s;
        }

}

.loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 5% 0 5% 0;
    margin: auto;
}