:root {
    --mobile-width: 80vw;
    --desktop-width: 30vw;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.about-wrapper {
    display: flex;
    flex-direction: row;
    padding: 50px;

    @media only screen and (max-width: 1024px) {
        flex-direction: column;
    }

    img {
        animation: 0.3s ease-in-out 0s 1 slideInFromLeft;
        margin: auto;
        width: var(--desktop-width);

        @media only screen and (max-width: 1024px) {
            width: var(--mobile-width);
        }
    }

    .about-text {
        animation: 0.3s ease-in-out 0s 1 slideInFromRight;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding: 0 5% 5% 5%;
        font-size: 24px;
        width: var(--desktop-width);
        text-align: justify;

        h2 {
            margin: auto;
        }

        @media only screen and (max-width: 1024px) {
            width: var(--mobile-width);
            margin-top: 5%;
            padding: 0;
        }
    }
}