nav {
    display: flex;
    height: 3rem;
    width: 100%;
    background-color: #E33B78;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease-out 100ms;

    .navitem {
        transition: background-color 0.3s ease-out 100ms;
        display: flex;
        align-items: center;
        padding-right: 1rem;
        padding-left: 1rem;
        &:hover {
            background-color: #E3848C;
            color: white;   
        }
    }
}